.wps-times {
  font-family: "Times New Roman";
}
.wps-arial {
  font-family: "Arial";
}

.wps-70 {
  font-size: 70%;
}
.wps-80 {
  font-size: 80%;
}
.wps-90 {
  font-size: 90%;
}
.wps-100 {
  font-size: 100%;
}
.wps-110 {
  font-size: 110%;
}
.wps-120 {
  font-size: 120%;
}
.wps-130 {
  font-size: 130%;
}
.wps-140 {
  font-size: 140%;
}
.wps-150 {
  font-size: 150%;
}
