.wps-times {
  font-family: "Times New Roman";
}
.wps-arial {
  font-family: "Arial";
}
.wps-opensans {
  font-family: 'Open Sans', sans-serif;
}
.wps-roboto {
  font-family: 'Roboto', sans-serif;
}
.wps-slabo {
  font-family: 'Slabo 27px', serif;
}
.wps-source {
  font-family: 'Source Sans Pro', sans-serif;
}
.wps-droid {
  font-family: 'Droid Sans', sans-serif;
}

.wps-70 {
  font-size: 70%;
}
.wps-80 {
  font-size: 80%;
}
.wps-90 {
  font-size: 90%;
}
.wps-100 {
  font-size: 100%;
}
.wps-110 {
  font-size: 110%;
}
.wps-120 {
  font-size: 120%;
}
.wps-130 {
  font-size: 130%;
}
.wps-140 {
  font-size: 140%;
}
.wps-150 {
  font-size: 150%;
}

div .entry-content .wps-400px {
  width: 400px !important;
  max-width: 400px !important;
  min-width: 400px !important;
}
div .entry-content .wps-500px {
  width: 500px !important;
  max-width: 500px !important;
  min-width: 500px !important;
}
div .entry-content .wps-600px {
  width: 600px !important;
  max-width: 600px !important;
  min-width: 600px !important;
}
div .entry-content .wps-700px {
  width: 700px !important;
  max-width: 700px !important;
  min-width: 700px !important;
}
div .entry-content .wps-800px {
  width: 800px !important;
  max-width: 800px !important;
  min-width: 800px !important;
}
